@using PierresVendors.Models;

<h1>@Model["vendor"].Name</h1>

<h2>All orders:</h2>
@if (@Model["orders"].Count == 0)
{
  <p>@Model["vendor"].Name has no orders, Pierre. Let's get them on the books.</p>
}
<ol>
@foreach (Order order in @Model["orders"])
{
  <li><strong>Order# @order.OrderNumber</strong>: delivering <strong>@order.DeliveryDate</strong> in the amount <strong>@order.Quantity of @order.Item</strong></li>
}
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<p><a href='/vendors/'>Return to your vendors</a></p>
<p><a href='/'>Return home</a></p>